@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* Style Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

/* Color Variables  */

:root {
	--fondo-ligero: #3b4b5b;
	--fondo-logo: #182732;
	--color-blue: #7480ff;
	--color-light: #f3f3f3;
	--color-dark: #343c44;
	--color-green: #3aa76d;
	--color-yellow: #ffbe3d;
	--color-gris: #e8ecef;
	--boton-azul: #2878cd;
	--boton-blanco: #fbfbfb;
	--boton-negro: #343c44;
	--boton-verde: #3aa76d;
	--boton-amarillo: #ffbe3d;
	--boton-rojo: #e25822;
	--boton-morado: #94447c;
	--boton-gris: #d0cfcf;
	--fondo-azul: #26598c;
}

h1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 18, 78px;
	text-align: center;
}
h2 {
	color: white;
}
h3 {
	color: #3b4b5b;
	font-weight: 600;
	font-size: 25px;
	font-weight: 0, 400;
}

/* section1 */

.section1 {
	width: 100%;
	height: 1080px;
	background-image: url("/img/banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	color: white;
	background-color: var(--fondo-ligero);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 15px 0 15px 0;
}

.whatslogoandnumber {
	display: flex;
	align-items: center;
	gap: 10px;
}

.whatssapplogo {
	width: 40px;
	height: 40px;
}

.whatssnumber {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
}

.formandlogo {
	display: flex;
	justify-content: space-evenly;
}

.logocontainer {
	width: 30%;
	height: 100%;
}

.logo {
	width: 303px;
	height: 59px;
	margin-top: 81px;
}

.formbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	margin-top: 174px;
}

.form-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 48px;
	color: var(--fondo-ligero);
	padding-bottom: 14px;
	border-bottom: 2px solid #c7bbbb;
}

.item-list {
	padding-top: 14px;
	line-height: 29px;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.items {
	display: flex;
	gap: 15px;
}

.upperandbluetext {
	color: #2878cd;
	font-weight: 700;
	text-align: center;
}

.formtop {
	background-color: white;
	padding-top: 17px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 25px;
	padding-bottom: 30px;
	width: 590px;
}
.formbottom {
	display: flex;
	flex-direction: column;
	background-color: var(--color-gris);
	padding-left: 35px;
	padding-right: 31px;
	padding-bottom: 23px;
	width: 590px;
}

.info {
	color: --fondo-ligero;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	padding-left: 15px;
	padding-top: 22px;
}

.maininputs {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 17px;
	margin-top: 15px;
}

.input {
	width: 244px;
	height: 45px;
	font-family: "Roboto";
	border-radius: 5px;
	padding: 13px;
	border-color: transparent;
}
.namelastname {
	display: flex;
	gap: 10px;
}

.telemail {
	display: flex;
	gap: 10px;
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}
.contactbutton {
	margin-top: 3px;
	background-color: var(--boton-azul);
	border-color: transparent;
	border-radius: 5px;
	width: 100%;
	padding: 12px 0;
	display: flex;
	justify-content: center;
	color: white;
	font-weight: 700;
	font-size: 25px;
	line-height: 29px;
}

.checkbox {
	padding-top: 20px;
	display: flex;
	white-space: nowrap;
	flex-direction: row;
	color: var(--fondo-ligero);
	font-weight: 400;
	line-height: 15px;
	font-size: 13px;
	font-family: "Roboto";
}

/* section2 and section4 */

.rectangleC {
	height: 547px;
}
.headline {
	display: flex;
	padding-top: 60px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
}

.headlinep {
	text-align: center;
}

.sectionboxes {
	display: flex;
	padding-top: 60px;
	justify-content: space-evenly;
}

.rightpartlogo {
	margin-left: -40px;
}

.vector {
	width: 110px;
	height: 96px;
}

.blocks {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 349px;
}

.headlineblock {
	padding-top: 10px;
	color: black;
	font-weight: 700;
	font-size: 30px;
}
.descriptionblock {
	padding-top: 10px;
	color: var(--fondo-ligero);
	font-weight: 400;
	font-size: 20px;
}

/* section3 */

.section3 {
	display: flex;
	align-items: center;
	height: 550px;
	width: 100%;
	background-color: var(--fondo-ligero);
}

.shedsection3 {
	background-image: url("/img/nave.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 50%;
}
.rectangleA {
	width: 32%;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
}

.textshed {
	color: white;
	font-style: italic;
	font-weight: 400px;
	font-size: 25px;
	line-height: 30px;
	text-align: right;
}

.knowmorebutton {
	background-color: var(--boton-azul);
	color: white;
	padding: 15px 4px 15px 4px;
	font-size: 20px;
	line-height: 23px;
	border-radius: 5px;
	border-color: transparent;
	margin-top: 26px;
}

.diamondhand {
	display: flex;
	flex-direction: column;
}

.diamond {
	height: 62px;
}
.hand {
	height: 34px;
}

.bannerimages {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0;
}

.row {
	display: flex;
	width: 100%;
}
.imagepanel1 {
	background-image: url("/img/imagen1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 408px;
}
.imagepanel2 {
	background-image: url("/img/imagen2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 408px;
	width: 100%;
}
.imagepanel3 {
	background-image: url("/img/imagen3.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 408px;
	width: 100%;
}
.imagepanel4 {
	background-image: url("/img/imagen4.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 408px;
	width: 100%;
}
.imagepanel5 {
	background-image: url("/img/imagen5.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 408px;
	width: 100%;
}
.imagepanel6 {
	background-image: url("/img/imagen6.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 408px;
	width: 100%;
}

/* section5 */
.blueband {
	background-color: var(--fondo-ligero);
	height: 95px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.blueband2 {
	background-color: var(--fondo-ligero);
	height: 105px;
}

.section6 {
	position: relative;
	width: 100%;
}
.map {
	background-image: url("/img/mapa.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 545px;
}

.bluebanner {
	display: flex;
	justify-content: flex-end;
	padding-right: 364px;
}

.help {
	background-color: #26598ce8;
	width: 474px;
	height: 545px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.canhelp {
	color: white;
	font-size: 40px;
	line-height: 108%;
	text-align: center;
}

.bigtel {
	font-weight: 700;
	font-size: 45px;
	line-height: 108%;
	text-align: center;
	color: white;
}

.contactnow {
	background-color: white;
	font-style: normal;
	font-weight: 600;
	border-radius: 5px;
	color: black;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	border: none;
	padding: 15px 19px 15px 19px;
	margin-top: 24px;
}

.lastlogo {
	height: 214px;
	background-color: var(--fondo-logo);
	display: flex;
	align-items: center;
	justify-content: center;
}

.whitelogo {
	height: 73px;
	width: 373px;
}

/* section6 */

.containerfooter {
	background-color: var(--fondo-ligero);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 5px;
	padding-right: 5px;
	height: 50px;
}

.footerbutton {
	color: white;
	text-decoration: none;
	font-size: 10px;
	font-family: "Rubik", sans-serif;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

.footerbuttons {
	width: 340px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footericons {
	width: 340px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Media Queries from here > */

@media screen and (max-width: 1700px) {
	.bluebanner {
		display: flex;
		justify-content: flex-end;
		padding-right: 0px;
	}
}

@media screen and (max-width: 1100px) {
	.blocks {
		padding-left: 20px;
		padding-right: 20px;
	}

	.help {
		width: 100%;
	}
}

@media screen and (max-width: 930px) {
	.row {
		display: flex;
		flex-direction: column;
	}

	.imagepanel4,
	.imagepanel5,
	.imagepanel6 {
		display: none;
	}

	.section1 {
		height: 100%;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.rectangleC {
		height: 100%;
	}

	.blocks {
		padding-bottom: 20px;
	}
	.sectionboxes {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		justify-content: center;
		align-items: center;
	}

	.headline {
		padding-top: 40px;
		padding-bottom: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.section1 {
		height: 100%;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.formandlogo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.formbox {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 600px;
		margin-top: 17px;
	}

	.logocontainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.logo {
		width: 303px;
		height: 59px;
		margin-top: 50px;
	}

	.rectangleA {
		width: 50%;

		padding-right: 15px;
		padding-left: 15px;
		display: flex;
		flex-direction: column;
	}
	.textshed {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.containerfooter {
		height: 100px;
		gap: 5px;
	}

	.footerbuttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;
		gap: 10px;
	}

	.footericons {
		display: flex;
		gap: 7px;
		flex-direction: column;
		align-items: center;
	}
	.checkbox {
		font-size: 12px;
	}
	.items {
		display: flex;
		gap: 5px;
	}

	.formbox {
		width: 479px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.formtop {
		width: 479px;
		background-color: white;
		padding-top: 17px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 30px;
	}
	.formbottom {
		display: flex;
		width: 479px;
		flex-direction: column;
		background-color: var(--color-gris);
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 23px;
	}
	.info {
		color: --fondo-ligero;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 35px;
		padding-left: 15px;
		padding-top: 22px;
	}

	.maininputs {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 17px;
		margin-top: 15px;
	}

	.input {
		width: 200px;
		height: 45px;
		font-family: "Roboto";
		border-radius: 5px;
		padding: 13px;
		border-color: transparent;
	}
}
